*, *::before, *::after {
    box-sizing: border-box;
    font-size: 40px;
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 3px
}



body {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.922);
    display: flex;
    justify-content: center;
}
button {
    background-color: rgb(143, 189, 63);
}

h2 {
    color: greenyellow;
    margin-bottom: -60px;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
    margin-top: -45px;
}

.calculator-grid > bottom {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(0, 0, 0, 0.75);
    max-width: 90%
}

.calculator-grid > bottom:hover {
    background-color: rgba(255, 255, 255, 0.9)
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1/ -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}
@media (max-width: 390px) {
    h2 {
        color: greenyellow;
        margin-bottom: 0%;
        max-width: 100%;
    }
    #centeredCalc {
        max-width: 90%;
    }
    }